@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#navLinks {
  max-width: 90vw;
}


.nav-link.active {
  color: #7cf5c9 !important;
  border-color: #7cf5c9 !important;
  /* border-radius: 5px;
  padding: 0px 10px;
  background: rgba(124, 245, 201, 0.1); */
}